.env
__pycache__
config/config.json
.pytest_cache
.idea
.DS_Store

# Terraform
terraform/*.tfvars
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Kubernetes
*-secrets.yml
